.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 15px;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.register-link {
  margin-top: 20px;
  text-align: center;
}

.register-link a {
  color: #3f51b5;
  font-weight: bold;
  cursor: pointer;
}

.register-link a:hover {
  text-decoration: underline;
}
